<div class="modal fade generic-modal" id="employeeDetailsModal" tabindex="-1" role="dialog"
  aria-labelledby="employeeDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i class="material-icons">remove_red_eye</i>
      </div>
      <h5 class="modal-title">
        <strong>Detalhes de Funcionário</strong>
      </h5>

      <div class="modal-body">
        <div class="row">
        
          <div class="col-sm-4">
            <div class="info">
              <label>{{'Nome' | translate}}</label>
              <h5> {{employee.name}} </h5>
              <hr>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <label>{{'Mátricula' | translate}}</label>
              <h5> {{employee.code}} </h5>
              <hr>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <label>{{'Tipo' | translate}}</label>
              <h5> {{employee.employee_type | translate}} </h5>
              <hr>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <label>{{'Data de Admissão' | translate}}</label>
              <h5> {{employee.date_admition | date:'M/d/yy'}} </h5>
              <hr>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <label>{{'Setor' | translate}}</label>
              <h5> {{employee.sector_name != null ? employee.sector_name: 'Nenhum'}} </h5>
              <hr>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <label>{{'Linha' | translate}}</label>
              <h5> {{ employee.production_line != null ?  employee.production_line.name : 'Nenhum'}} </h5>
              <hr>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="info">
              <label>{{'Estação' | translate}}</label>
              <h5> {{ employee.station != null ?  employee.station.name : 'Nenhum'}} </h5>
              <hr>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>