<div class="modal fade generic-modal" id="carModal" tabindex="-1" role="dialog" aria-labelledby="carModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content change-modal">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i *ngIf="!edit" class="material-icons">add</i>
        <i *ngIf="edit" class="material-icons">edit</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="!edit">Cadastro de Veículo</strong>
        <strong *ngIf="edit">Edição de Veículo</strong>
        <button type="button" class="close fix-close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #carForm="ngForm">

          <div class="row">

            <div class="col-sm-12">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input placeholder="Modelo" class="form-control" type="text" maxlength="20" name="model"
                  [(ngModel)]="obj.model" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input placeholder="Placa" class="form-control" type="text" maxlength="7" name="plate"
                  [(ngModel)]="obj.plate" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input placeholder="Cor" class="form-control" type="text" maxlength="15" name="color"
                  [(ngModel)]="obj.color" required>
              </div>
            </div>

            <div class="btn-space">
              <button class="btn btn-spare btn-round btn-raised pull-right" [disabled]="!carForm.form.valid"
                (click)="updateOrCreate('#carModal')">
                Salvar
              </button>
              <button type="button" class="btn btn-round pull-right" (click)="closeModal('#carModal')">
                Voltar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>