<div class="modal fade generic-modal" id="stationModal" tabindex="-1" role="dialog" aria-labelledby="stationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">{{'Editar Estação' | translate}}</strong>
        <strong *ngIf="!edit">{{'Nova Estação' | translate}}</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #stationForm="ngForm">

          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.name" placeholder="{{'Nome' | translate}}" name="name" type="text"
                  pattern="(^[\S]+(\s[\S]+)*$)" maxlength="255" required>
              </mat-form-field>
              <p *ngIf="alreadyAssociated(obj.production_line.id)" class="text-danger">Altere o nome ou selecione outra
                linha*
              </p>
            </div>

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.code" placeholder="{{'Defina o código da estação' | translate}}"
                  name="code" type="text" pattern="(^[\S]+(\s[\S]+)*$)" minlength="4" maxlength="15" required>
              </mat-form-field>
              <p *ngIf="codeAlreadyExists(obj, stations)" class="text-danger">Código já existente*</p>
            </div>

            <div class="col-sm-12">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.production_line.id" placeholder="{{'Selecione Linha' | translate}}"
                  name="production_line" required>
                  <mat-option *ngFor="let line of lines" [value]="line.id" [disabled]="alreadyAssociated(line.id)">
                    {{ line.name }} do setor {{ line.sector.name }} {{alreadyAssociated(line.id) ? '(Estação já existente nesta linha)' : ''}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row btn-space">
            <button (click)="clearForm(stationForm)" type="button"
              class='btn btn-round  pull-left'>{{'Limpar' | translate}}</button>

            <button (click)="updateOrCreate('#stationModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-spare pull-right'
              [disabled]="!stationForm.form.valid || alreadyAssociated(obj.production_line.id) || codeAlreadyExists(obj, stations)">{{'Salvar' | translate}}</button>

            <button (click)="closeModal()" class='btn btn-round  pull-right'>{{'Voltar' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>