<div class="modal fade generic-modal" id="productionLineModal" tabindex="-1" role="dialog"
  aria-labelledby="productionLineModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">{{'Editar Linha de Produção' | translate}}</strong>
        <strong *ngIf="!edit">{{'Nova Linha de Produção' | translate}}</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #productionLineForm="ngForm">

          <div class="row form-field">

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.name" placeholder="{{'Nome' | translate}}" name="name" type="text"
                  pattern="(^[\S]+(\s[\S]+)*$)" maxlength="255" required>
              </mat-form-field>
              <p *ngIf="alreadyAssociated(obj.sector.id)" class="text-danger">Altere o nome ou selecione outro setor*
              </p>
            </div>

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.code" placeholder="{{'Defina o código da Linha' | translate}}"
                  name="code" type="text" pattern="(^[\S]+(\s[\S]+)*$)" minlength="4" maxlength="15">
              </mat-form-field>
              <p *ngIf="codeAlreadyExists(obj, lines)" class="text-danger">Código já existente*</p>
            </div>

            <div class="col-sm-12">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.sector.id" placeholder="{{'Selecione setor' | translate}}" name="sector"
                  required>
                  <mat-option *ngFor="let sector of sectors" [value]="sector.id"
                    [disabled]="alreadyAssociated(sector.id)">
                    {{ sector.name }} da área {{ sector.area.name }} {{alreadyAssociated(sector.id) ? '(Linha já existente neste setor)' : ''}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class=" row btn-space">
            <button (click)="clearForm(productionLineForm)" type="button"
              class='btn btn-round  pull-left'>{{'Limpar' | translate}}</button>

            <button (click)="updateOrCreate('#productionLineModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-spare pull-right'
              [disabled]="!productionLineForm.form.valid || alreadyAssociated(obj.sector.id) || codeAlreadyExists(obj, lines)">{{'Salvar' | translate}}</button>

            <button (click)="closeModal()" class='btn btn-round  pull-right'>{{'Voltar' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>