<div class="modal fade generic-modal" id="checkoutModal" tabindex="-1" role="dialog"
  aria-labelledby="checkoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content change-modal">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i class="material-icons">exit_to_app</i>
      </div>
      <h5 class="modal-title">
        <strong>Fazer Check-out</strong>
        <button type="button" class="close fix-close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #checkoutForm="ngForm">

          <div class="row">

            <div class="col-sm-6">
              <div class="info">
                <label>Placa</label>
                <h5>{{obj.car.plate}}</h5>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info">
                <label>Modelo</label>
                <h5>{{obj.car.model}}</h5>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info">
                <label>Cor</label>
                <h5>{{obj.car.color}}</h5>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info">
                <label>Entrada</label>
                <h5>{{obj.checkin | date: 'dd/M/yy H:mm'}}</h5>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info">
                <label>Saída</label>
                <h5>{{obj.checkout | date: 'dd/M/yy H:mm'}}</h5>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info">
                <label>Preço</label>
                <h5><strong>{{obj.value | currency:'BRL':true }}</strong></h5>
              </div>
            </div>

            <div class="btn-space">
              <button class="btn btn-warning btn-round btn-raised pull-left" [disabled]="!checkoutForm.form.valid"
                (click)="switchHolyday()">
                <ng-container *ngIf="isHolyday">
                  Remover valor de feriado
                </ng-container>
                <ng-container *ngIf="!isHolyday">
                  Aplicar valor de feriado
                </ng-container>
              </button>
              <button class="btn btn-spare btn-round btn-raised pull-right" [disabled]="!checkoutForm.form.valid"
                (click)="updateOrCreate('#checkoutModal')">
                Liberar veículo
              </button>
              <button type="button" class="btn btn-round pull-right" (click)="closeModal('#checkoutModal')">
                Voltar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>