<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" #employeeForm="ngForm">
                        <div class="card-header card-header-icon" data-background-color="spare">
                            <i *ngIf="edit" class="material-icons">edit</i>
                            <i *ngIf="!edit" class="material-icons">add</i>
                        </div>

                        <div class="card-content">
                            <h5 class="card-title">
                                <strong *ngIf="!edit">{{'Novo Funcioário' | translate}}</strong>
                                <strong *ngIf="edit">{{'Editar Funcioário' | translate}}</strong>
                            </h5>

                            <div class="row form-field">
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="obj.name"
                                            pattern="(^[A-Za-zÀ-ÖØ-öø-ÿ]+(\s[A-Za-zÀ-ÖØ-öø-ÿ]+)*$)"
                                            placeholder="{{'Nome' | translate}}" name="name" type="text" maxlength="255"
                                            required>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="obj.code" placeholder="{{'Matrícula' | translate}}"
                                            name="codInt" type="text" minlength="8" maxlength="8" pattern="^[0-9]+$"
                                            required>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-2">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="obj.employee_type"
                                            placeholder="{{'Selecione tipo' | translate}}" name="employee_type"
                                            required>
                                            <mat-option value="NORMAL">
                                                {{'Normal' | translate}}
                                            </mat-option>
                                            <mat-option value="RESERVE">
                                                {{'Reserva' | translate}}
                                            </mat-option>
                                            <mat-option value="OUTSOURCED">
                                                {{'Tercerizado' | translate}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- calendar -->
                                <div class="col-sm-3">
                                    <div class="row">
                                        <label class="col-sm-4 label-on-top">{{'Data de admissão' | translate}}*</label>
                                        <div class="col-sm-7 titulo">
                                            <div class="form-group titulo2 label-floating is-empty  form-field">
                                                <label class="control-label"></label>
                                                <mat-input-container (click)="resultPicker.open()">
                                                    <input [(ngModel)]="obj.date_admition" [max]="today" disabled
                                                        name="dataComeco" matInput [matDatepicker]="resultPicker"
                                                        required>
                                                    <mat-datepicker-toggle matSuffix [for]="resultPicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker disabled="false" #resultPicker [touchUi]="touch">
                                                    </mat-datepicker>
                                                </mat-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- end calendar -->

                                <div class="col-sm-12"></div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="selectedAreaId"
                                            placeholder="{{areas.length > 0 ? 'Selecione a área' : 'Sem áreas disponíveis'}}"
                                            name="area" required>
                                            <mat-option *ngFor="let area of areas" [value]="area.id">
                                                {{ area.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="obj.sector.id" [disabled]="!selectedAreaId"
                                            placeholder="{{sectors.length > 0 ? 'Selecione o setor' : 'Sem setores disponíveis'}}"
                                            name="sector" required>
                                            <ng-container *ngFor="let sector of sectors">
                                                <mat-option *ngIf="sector.area.id === selectedAreaId"
                                                    [value]="sector.id">
                                                    {{ sector.name }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <small class="text-muted" *ngIf="!selectedAreaId">Selecione uma área
                                            antes</small>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="obj.production_line.id" [disabled]="!obj.sector.id"
                                            placeholder="{{lines.length > 0 ? 'Selecione a linha' : 'Sem linhas disponíveis'}}"
                                            name="line">
                                            <mat-option [value]="null"><strong>Nenhuma</strong></mat-option>
                                            <ng-container *ngFor="let line of lines">
                                                <mat-option *ngIf="line.sector.id === obj.sector.id" [value]="line.id">
                                                    {{ line.name }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <small class="text-muted" *ngIf="!obj.sector.id">Selecione um setor
                                            antes</small>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="obj.station.id"
                                            [disabled]="!obj.production_line.id || obj.employee_type === 'RESERVE'"
                                            placeholder="{{stations.length > 0 ? 'Selecione a estação' : 'Sem estações disponíveis'}}"
                                            name="station">
                                            <mat-option [value]="null"><strong>Nenhuma</strong></mat-option>
                                            <ng-container *ngFor="let station of stations">
                                                <mat-option
                                                    *ngIf="station.production_line.id === obj.production_line.id"
                                                    [value]="station.id">
                                                    {{ station.name }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <small class="text-muted" *ngIf="!obj.production_line.id">Selecione uma linha
                                            antes</small>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row btn-space">
                                <button type="button" class="btn btn-round pull-left" (click)="clearForm(employeeForm)">
                                    {{'Limpar' | translate}}
                                </button>
                                <button class="btn btn-spare btn-round btn-raised pull-right"
                                    [disabled]="!employeeForm.form.valid || !verify()" (click)="updateOrCreate()">
                                    {{'Salvar' | translate}}
                                </button>
                                <button type="button" class="btn btn-round pull-right" (click)="returnScreen()">
                                    {{'Voltar' | translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>