<nav #navbar class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{getPath()}}"> {{getTitle() | translate}} </a>
        </div>
        <div class="collapse navbar-collapse justify-content-end mt-2 mr-3 " id="navigation">
            <div (window:resize)="onResize($event)">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="input-group no-border lang">
                            <mat-form-field style="width: 100px;">
                                <mat-select placeholder="{{ 'lang' | translate }}" name="lang" [(ngModel)]="selectedLanguage">
                                    <mat-option *ngFor="let language of languages" [value]="language.value">
                                        {{language.name | translate }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Perfil</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a (click)="goToProfile()" style="cursor: pointer">{{'Meu Perfil' | translate}}</a>
                            </li>
                            <li>
                                <a (click)="showChangePass()" style="cursor: pointer">{{'Alterar Senha' | translate}}</a>
                            </li>
                            <li>
                                <a (click)="cofirmExit()" style="cursor: pointer">{{'Sair' | translate}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Modal para alterar minha senha-->
<div class="card">
    <div class="modal fade generic-modal" id="changeMyPassModal" tabindex="-1" role="dialog" aria-labelledby="changeMyPassModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content change-modal">

                <div class="card-header card-header-icon" data-background-color="spare">
                    <i class="material-icons">vpn_key</i>
                </div>
                <h5 class="modal-title">
                    <strong>{{'Alterar Senha' | translate}}</strong>
                    <button type="button" class="close fix-close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </h5>

                <div class="modal-body" *ngIf="opened">

                    <form class="form-horizontal" #changeMyPassForm="ngForm">

                        <div class="row form-field">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="oldPass" placeholder="{{'Senha Atual' | translate}}"
                                        name="oldPass" type="password" maxlength="15" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field [ngClass]="{'passAlerta' : newPass.length < 6}">
                                    <input matInput [(ngModel)]="newPass" placeholder="{{'Nova Senha' | translate}}"
                                        name="newPass" type="password" maxlength="15" required>
                                </mat-form-field>
                                <label class="color-warning" *ngIf="newPass.length < 6">
                                    {{'Senha deve conter no minímo 6 caracteres' | translate}}
                                </label>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field [ngClass]="{'passAlerta' : confirmPass.length < 6 && newPass.length >= 6 || confirmPass.length >= 6 && !verifyPass()}">
                                    <input matInput [(ngModel)]="confirmPass" placeholder="{{'Confirmar Nova Senha' | translate}}"
                                        name="confirmPass" type="password" maxlength="15" required>
                                </mat-form-field>
                                <label class="color-warning" *ngIf="confirmPass.length < 6 && newPass.length >= 6">
                                    {{'Senha deve conter no minímo 6 caracteres' | translate}}
                                </label>
                                <label class="color-danger" *ngIf="confirmPass.length >= 6 && !verifyPass()">
                                    {{'Confirmação de senha incorreta' | translate}}
                                </label>
                            </div>
                            <div class="col-sm-12 btn-space">
                                <button (click)="changeMyPassword()" type="submit" class='btn btn-finish btn-fill btn-round btn-spare pull-right'
                                    [disabled]="!changeMyPassForm.form.valid || !verifyPass()">{{'Salvar' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>