<div class="modal fade generic-modal" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">{{'Editar Câmera' | translate}}</strong>
        <strong *ngIf="!edit">{{'Nova Câmera' | translate}}</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #cameraForm="ngForm">

          <div class="row form-field">


            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.name" placeholder="{{'Defina o código da Câmera' | translate}}"
                  name="code" type="text" pattern="(^[\S]+(\s[\S]+)*$)" minlength="4" maxlength="15" required>
              </mat-form-field>
              <p *ngIf="alreadyAssociated(obj.area?.id)" class="text-danger">Altere o código ou selecione outra área*
              </p>
            </div>

            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.model" placeholder="{{'Modelo' | translate}}" name="model" type="text"
                  pattern="(^[\S]+(\s[\S]+)*$)" minlength="4" maxlength="15" required>
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.description" placeholder="{{'Descrição' | translate}}"
                  name="description" type="text" pattern="(^[\S]+(\s[\S]+)*$)" minlength="4" maxlength="15" required>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.deviceType" placeholder="{{'Tipo de dispositivo' | translate}}"
                  name="deviceType" required>
                  <mat-option value="CAMERA">
                    CÂMERA
                  </mat-option>
                  <mat-option value="TABLET">
                    TABLET
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6" *ngIf="obj.deviceType === 'CAMERA'">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.area.id" placeholder="{{getHolderArea() | translate}}" name="area"
                  required>
                  <mat-option *ngFor="let area of areas" [value]="area.id" [disabled]="alreadyAssociated(area.id)">
                    {{ area.name }} {{alreadyAssociated(area.id) ? '(Câmera já existente nesta área)' : ''}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class=" row btn-space">
            <button (click)="clearForm(cameraForm)" type="button"
              class='btn btn-round  pull-left'>{{'Limpar' | translate}}</button>

            <button (click)="updateOrCreate('#cameraModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-spare pull-right'
              [disabled]="!cameraForm.form.valid || alreadyAssociated(obj.area?.id)">{{'Salvar' | translate}}</button>

            <button (click)="closeModal()" class='btn btn-round  pull-right'>{{'Voltar' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>