<div class="modal fade generic-modal" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="unitModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="spare">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">Editar Unidade</strong>
        <strong *ngIf="!edit">Nova Unidade</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #unitForm="ngForm">

          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.name" placeholder="{{'Nome' | translate}}" name="name" type="text"
                  pattern="(^[\S]+(\s[\S]+)*$)" maxlength="255" required>
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [(ngModel)]="obj.code" placeholder="{{'Defina o código da Unidade' | translate}}"
                  name="code" type="text" pattern="(^[\S]+(\s[\S]+)*$)" minlength="4" maxlength="15" required>
              </mat-form-field>
              <p *ngIf="codeAlreadyExists(obj, units)" class="text-danger">Código já existente*</p>
            </div>
          </div>
          <div class="row btn-space">
            <button (click)="clearForm(unitForm)" type="button"
              class='btn btn-round  pull-left'>{{'Limpar' | translate}}</button>

            <button (click)="updateOrCreate('#unitModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-spare pull-right'
              [disabled]="!unitForm.form.valid || codeAlreadyExists(obj, units)">{{'Salvar' | translate}}</button>

            <button (click)="closeModal()" class='btn btn-round  pull-right'>{{'Voltar' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>